# Pyrogram & crypto
pyrogram==1.4.16
TgCrypto

# Environment & parsing
python-dotenv
hachoir
beautifulsoup4==4.9.1
bs4==0.0.1
lxml

# Direct Download Links
pySmartDL
requests
cloudscraper
lk21==1.5.61
js2py
httpx

# Database
dnspython
motor

# System
psutil

# Google Drive integration
google-api-core
google-auth
oauth2client<4.0.0
google~=3.0.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
httplib2==0.18.0
